
<nm-vertical-split-layout title="Login">
    <div class="nm-form-container">
        <form [formGroup]="form" (ngSubmit)="handleFormSubmit($event)">
            <div class="col-12">
                <nm-input-text controlName="username" label="Username" required></nm-input-text>
            </div>
            <div class="col-12">
                <nm-input-password controlName="password" label="Password" required></nm-input-password>
            </div>
            <div class="col-12">
                <nm-input-text controlName="any" label="any"></nm-input-text>
            </div>
            <div class="col-12">
                <div class="nm-form-footer">
                    <a class="nm-simple-links" routerLink="/register">New here!</a>
                    <a class="nm-simple-links" routerLink="/forgot-password">Forgot Password?</a>
                </div>
            </div>
            <div class="col-12">
                <nm-input-button label="Login"></nm-input-button>
            </div>
        </form>
    </div>
</nm-vertical-split-layout>