<div class="grid">
    <div class="col-12">
        <div class="flex justify-content-end mr-3 p-1">
            <nm-file-selector
            (onUpload)="handleUpload($event)"
            ></nm-file-selector>
        </div>
    </div>
    <div class="col-3">
        <nm-bulk-upload-list
            [refresh]="refresh"
            (onSelect)="handleUploadSelect($event)"
        ></nm-bulk-upload-list>
    </div>
    <div class="col-9">
        <nm-bulk-upload-view 
        [value]="selectedUpload"
        ></nm-bulk-upload-view>
    </div>
</div>