@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
:root {
    --primary-brand-color: #820000;
    --primary-light-color: white;
    --primary-dark-color: black;
    --primary-font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.nm-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nm-v-split {
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 12px;
}

.nm-page-left {
    padding: 12px;
    background-color: var(--primary-brand-color);
}

.nm-page-right {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nm-page-title {
    font-family: sans-serif;
    font-size: 7rem;
    color: var(--primary-light-color);
}

.nm-form-container {

}

.nm-form-field {
    display: flex;
    flex-direction: column;
    /* margin: 12px 0; */
}

.col, .col-12{
    margin: 12px 0;
}

.nm-input{
    padding: 8px;
    border: 1px solid #cbcaca;
    border-radius: 4px;
    font-size: 1rem;
}

.nm-simple-links{
    font-family: var(--primary-font-style);
    color: var(--primary-dark-color);
    margin-right: 4px;
    text-decoration: none;
}